.card {
    background-color: #e4a788;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #1e4d2b;
    text-align: center;
    padding: 1rem;
}

.cardStatus {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.cardStatus img {
    height: 16px;
    width: 16px;
}